<html>
<head>
    <title></title>
    <link href="~/lib/ligerUI/skins/Aqua/css/ligerui-all.css" rel="stylesheet" type="text/css" />
    <script src="~/lib/ligerUI/js/core/base.js"></script>
    <script src="~/lib/ligerUI/js/plugins/ligerDialog.js" type="text/javascript"></script>
    <script src="~/lib/ligerUI/js/plugins/ligerCheckBox.js"></script>
    <script src="~/lib/ligerUI/js/plugins/ligerResizable.js"></script>
    <script src="~/lib/ligerUI/js/plugins/ligerComboBox.js"></script>
    <script src="~/lib/ligerUI/js/plugins/ligerGrid.js"></script>
    <script src="~/lib/ligerUI/js/plugins/ligerForm.js"></script>
    <script src="~/lib/ligerUI/js/ligerui.all.js"></script>
</head>
<body>
    <div  style="clear:both;margin-left:30px; margin-top:100px;  width:900px">
        <label>超用补气</label>
        <br />
        <br />
        <div>
            <table>
                <tr>
                    <td>业务编号</td>
                    <td><input type="text" id="ywbh" name="ywbh" disabled="disabled" /></td>
                    <td>用户姓名</td>
                    <td><input type="text" id="hm" name="hm" disabled="disabled" /></td>
                    <td>电话</td>
                    <td><input type="text" id="tel" name="tel" disabled="disabled" /></td>
                </tr>
                <tr>
                    <td>家庭住址</td>
                    <td><input type="text" id="zz" name="zz" style="width:250px" disabled="disabled" /></td>
                </tr>
                <tr>
                    <td>表止码</td>
                    <td><input type="text" id="bzm" name="bzm" disabled="disabled" /></td>
                    <td>超用气量</td>
                    <td><input type="text" id="cyql" name="cyql" disabled="disabled" /></td>
                    <td>单价</td>
                    <td><input type="text" id="dj" name="dj" disabled="disabled" /></td>
                </tr>
                <tr>
                    <td>超用金额</td>
                    <td><input type="text" id="bql" name="bql" /></td>
                </tr>                                          
            </table>
        </div>
        <div style="clear:both">
            <table>
                <tr>
                    <td>补气量</td>
                    <td><input type="text" id="bql" name="bql" /></td>
                    <td>交金额</td>
                    <td><input type="text" id="jje" name="jje" /></td>
                    <td>找零</td>
                    <td><input type="text" id="zl" name="zl" disabled="disabled" /></td>
                </tr>
                
            </table>
        </div>
        <div>
            <input type="button" value="确认补气" id="confirmBtn" style="width:60px" />
            <input type="button" value="返回" id="returnBtn" style="margin-left: 60px;" />
        </div>
    </div>

</body>
</html>

