
<html>
<head>
    <title></title>
    <script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="~/lib/ligerUI/js/core/base.js" type="text/javascript"></script>
    <script src="~/lib/ligerUI/js/plugins/ligerDrag.js" type="text/javascript"></script>
    <script src="~/lib/ligerUI/js/plugins/ligerDialog.js" type="text/javascript"></script>
</head>
<body>
    <div id="changediv" class="divFont" style="margin-left:30px; margin-top:30px;  width:900px">
        <label>操作员密码修改</label>
        <br />
        <br />
        <div style="clear:both;margin-left:60px">
            <h3>操作员密码修改</h3>
        </div>
        <div style="width:500px">
            <table class="table table-condensed tabFont">
                <tr>
                    <td>操作员编号</td>
                    <td><input type="text" id="bh" class="form-control setting" style="width:200px" value="@ViewBag.bh" disabled="disabled" /></td>
                </tr>
                <tr>
                    <td>输入原密码</td>
                    <td><input type="password" class="form-control setting" style="width:200px" id="oldpassword" /></td>
                </tr>
                <tr>
                    <td>输入新密码</td>
                    <td><input type="password" class="form-control setting" style="width:200px" id="newpassword" /></td>
                </tr>
                <tr>
                    <td>确认新密码</td>
                    <td><input type="password" class="form-control setting" style="width:200px" id="newpassword2" /></td>
                </tr>
            </table>
        </div>
        <div style="clear:both;margin-left:50px">
            <br />
            <input type="button" value="确定" id="confirmBtn" class="btn btn-default" style="width:60px" />
            <input type="button" value="返回" id="backBtn" class="btn btn-default" style="margin-left: 60px;" />
        </div>
    </div>
    <script>
        $(function () {           
            $("#confirmBtn").click(function () {
                var bh = $("#bh").val();
                var oldpassword = $("#oldpassword").val();
                var newpassword = $("#newpassword").val();
                var newpassword2 = $("#newpassword2").val();
                var postData = {};
                if (oldpassword == "" || newpassword == "" || newpassword2 == "") {                   
                    $.ligerDialog.warn("密码不能为空！");
                }
                else if (newpassword != newpassword2) {
                    $.ligerDialog.warn("两次密码不一致！");
                }
                else {
                    postData = {
                        bh: bh,
                        oldpassword:oldpassword,
                        newpassword:newpassword
                    }
                    $.post("../SystemFunction/ChangePassword",postData,changeBack);
                }
            });
            function changeBack(data) {
                if (data == "密码修改成功！")
                    $.ligerDialog.success(data);               
                else
                    $.ligerDialog.error(data);
            }           
            $("#backBtn").click(function () {
                $("#changediv").hide();
            });
        })
    </script>
</body>
</html>
